sudo apt Install git
git clone " repository link "
sudo apt install python3
sudo apt install python3-venv
sudo apt install python3-tk
pip install python-nmap
pip install pillow
pip install tkinter
pip install requests
You have to get your own API key to run this project from (NVD) National Vulnerability database
